/* $Id: colors.css,v 1.10 2011/01/04 05:24:13 webchick Exp $ */

/* ---------- Color Module Styles ----------- */

body,
body.overlay {
	color:#474740;
	background:#eae9e1;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#main-wrapper {
	background:#eae9e1 url(/sites/all/themes/uchicago/images/maincontentbg.gif) top center no-repeat; padding:0 9px;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
	background:#770000;
	background-image:-moz-linear-gradient(center top , #800000, #770000 88px, #9f2425 88px, #9f2425 89px, #971e21 89px, #971e21 96px); /* FF3.6 */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0779bf), to(#48a9e4));
}
a {
  color: #155f83;
}
a:hover,
a:focus {
  color: #20364c;
  text-decoration: underline;
}
a:active, .block li a.active {
  color: #155f83;
}
#footer-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
