/* ---------- General Layout ---------- */

body,
input,
textarea,
select {
  color: #000;
  background: none;
}
.grid_6 {
width: auto !important;
}
#sidebar-first,
#sidebar-second,
.imgrt,
.navigation,
#toolbar,
#footer-wrapper,
.tabs,
.add-or-remove-shortcuts {
  display: none;
}


/* ---------- Node Pages ---------- */

#comments .title,
#comments form,
.comment_forbidden {
  display: none;
}
