/* Responsive design */

@media screen and (max-width: 600px) {
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {margin:0; width:auto !important; float:none; display:block; position:static}
#main{width:100%;}
#sidebar-second{margin:20px -8px 0}
#content{width:auto; padding:0 8px}
#footer-wrapper{display:none}

#header{width:100%; background-image:none; height:auto}
#header .container_12{width:auto; padding:0 8px}
#site-name{padding-top: 10px}
#dept-title{text-indent:0; background-image:none !important; font-size:2em; height:auto; margin-bottom:10px}
#dept-title {color:#ffffff !important; font-size:16px !important}
#wordmark{height:30px; width:137px; padding-bottom:10px}
#wordmark{text-indent:-9999px; background-size:137px 30px; -webkit-background-size:137px 30px; -o-background-size:137px 30px; background-position:top left}

.container_12 .push_3{left:0}
.block-cck-blocks{display:none} /* Just hide the right column images */
#block-system-main-menu{margin:0 -8px 16px; padding:0 -8px; display:none}
#block-system-main-menu .content a {padding-top:8px; padding-bottom:10px}
#block-system-main-menu .content ul li ul li{padding-top:8px; padding-bottom:8px; background-position:10px 14px}
img{max-width:100%}
.node-type-image-gallery a.colorbox img{display:block}
#toggle-nav{display:block;float:right; position:relative; top:-25px; padding-right:8px; height:0}
#toggle-nav a{color:#ffffff}
#mainfeature img{height:auto; width:100%}
#mainfeature h3{width:100%; margin-top:0; height:auto; position:static; margin-left:-8px; margin-right:0; padding:0 8px}
#block-views-homepage-feed-block{margin-left:-8px; margin-right:-8px}
.homeimage{line-height:0; margin-left:-8px; margin-right:-8px}
#block-views-homepage-mini-features-block img{display:none}
.front #main {padding-top:0}
.not-front #block-system-main-menu {margin-top:-32px}
}
